.container-fluid
  %img{:src => "http://gravatar.com/avatar/8bb6b087227c609d6f3a212ae7fd5e5c?s=200", :style => " width: 200px; height: 261px;"}
    %hr
.well
  %i.icon-user
  %li
    %a{:href => "https://www.facebook.com/masaki925"}
      Facebook
  %li
    %a{:href => "https://github.com/masaki925"}
      GitHub
  %li
    %a{:href => "https://twitter.com/masaki925"}
      Twitter
  %li
    %a{:href => "http://www.linkedin.com/profile/view?id=35091872"}
      LinkedIn
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script{:src => "/assets/js/bootstrap.min.js"}

